<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skripsi.atma"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.skripsi.atma.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.skripsi.atma.Permainan"
            android:label="@string/title_activity_permainan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.skripsi.atma.TesMinat"
            android:label="@string/title_activity_tes_minat"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.skripsi.atma.ItemFindingHome"
            android:label="@string/title_activity_item__finding__game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.skripsi.atma.ItemFindingScore"
            android:label="@string/title_activity_item__finding__score"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.skripsi.atma.ItemFindingGame"
            android:label="@string/title_activity_item__finding__game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.skripsi.atma.CardGame"
            android:label="@string/title_activity_card_game_menu"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.skripsi.atma.MediaInformasi"
            android:label="@string/title_activity_media_informasi" >
        </activity>
        <activity
            android:name="com.skripsi.atma.DeskripsiProdi"
            android:label="@string/title_activity_deskripsi_prodi" >
        </activity>
        <activity
            android:name="com.skripsi.atma.TycoonGame"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.skripsi.atma.HangmanHome"
            android:label="@string/title_activity_hangman__game" >
        </activity>
        <activity
            android:name="com.skripsi.atma.Hangman"
            android:label="@string/title_activity_hangman__game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.skripsi.atma.HangmanAbout"
            android:label="@string/title_activity_hangman__about" >
        </activity>
        <activity
            android:name="com.skripsi.atma.EngineHome"
            android:label="@string/title_activity_engine__design__game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.skripsi.atma.EngineGame"
            android:label="@string/title_activity_engine__design__game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.skripsi.atma.EngineTips"
            android:label="@string/title_activity_engine__design__tips"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.skripsi.atma.CookingGameHome"
            android:label="@string/title_activity_cooking_game" >
        </activity>
        <activity
            android:name="com.skripsi.atma.CookingGame"
            android:label="@string/title_activity_cooking__game" >
        </activity>
        <activity
            android:name="com.skripsi.atma.CookingGameAbout"
            android:label="@string/title_activity_cooking_game__about" >
        </activity>
        <activity
            android:name="com.skripsi.atma.AnatomyGame"
            android:label="@string/title_activity_anatomy__game"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name="com.skripsi.atma.FacebookPage" >
        </activity>
        <activity
            android:name="com.skripsi.atma.AnatomyHome"
            android:label="@string/title_activity_anatomy__game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.skripsi.atma.AnatomyScore"
            android:label="@string/title_activity_anatomy__score"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.skripsi.atma.TycoonGameMenu"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.skripsi.atma.TesMinatDisclaimer"
            android:label="@string/title_activity_tes_minat_disclaimer" >
        </activity>
        <activity
            android:name="com.skripsi.atma.chat.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name="com.skripsi.atma.chat.ChatLogin"
            android:label="@string/title_activity_chat_login" >
        </activity>
        <activity
            android:name="com.skripsi.atma.chat.ChatMenu"
            android:label="@string/title_activity_chat_menu" >
        </activity>
        <activity
            android:name="com.skripsi.atma.chat.ChatOffline"
            android:label="@string/title_activity_chat_offline" >
        </activity>
        <activity
            android:name="com.skripsi.atma.chat.ChatOnline"
            android:label="@string/title_activity_chat_online" >
        </activity>
        <activity
            android:name="com.skripsi.atma.chat.ChatSignUp"
            android:label="@string/title_activity_chat_sign_up" >
        </activity>
        <activity
            android:name="com.skripsi.atma.chat.ChatModeratorsList"
            android:label="@string/title_activity_chat_users_list" >
        </activity>
        <activity
            android:name="com.skripsi.atma.DetectiveGame"
            android:label="@string/title_activity_detective_game"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.skripsi.atma.DetectiveGameMenu"
            android:label="@string/title_activity_detective_game_menu"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.skripsi.atma.Summary"
            android:label="@string/title_activity_summary" >
        </activity>
        <activity android:name="com.skripsi.atma.About"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>

